<template>
    <div>
        <introduction />

        <div class="row mt-2">
            <v-skeleton-loader
                class="mb-4 col-12 col-sm-6 col-md-4"
                type="card"
                v-for="n in 7"
                v-if="isLoading"
            ></v-skeleton-loader>

            <div
                class="mb-4 col-12 col-sm-6 col-md-4 d-flex"
                :key="project.slug"
                v-for="project in projects"
                v-if="!isLoading"
            >
                <project-card :project="project"></project-card>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import Introduction from './Introduction.vue';
import ProjectCard from './ProjectCard.vue';

export default {
    components: {
        Introduction,
        ProjectCard,
    },
    methods: {
        getProjects,
    },
    mounted: function() {
        // timeout to show loading skeleton
        setTimeout(() => {
            this.getProjects();
        }, 800);
    },
    data: () => ({
        isLoading: true,
        projects: [],
    }),
}

function getProjects() {
    axios.post('/graphql', {
            query: `query {
                projects {
                    slug
                    title
                    mediaType
                    mediaFilename
                    backgroundColor
                    tags { title }
                }
            }`
        })
        .then(response => {
            this.projects = _.get(response, 'data.data.projects', []);
            this.isLoading = false;
        });
}
</script>