<template>
    <v-card
        class="pa-4"
        elevation="1"
    >
        <div class="d-flex">
            <div class="mr-4 flex-grow-0 d-none d-sm-block">
                <img
                    src="/images/playground.png"
                    alt="v-playground"
                    width="60"
                />
            </div>
            <div class="mt-4">
                <!-- introduction -->
                <h2 class="text-h6 accent--text font-weight-bold mt-0 mb-4">Welcome to my playground</h2>
                <p>Hi there! I'm Sharon, a Front-end developer based in Malaysia. I came across the FE job opportunity posted on <a href="https://angel.co/company/enjin-io/jobs/1477589-front-end-engineer" target="_blank">AngelList website</a> and I'm interested to give it a shot. However, I don't have experience in VueJS and GraphQL but I'm excited to pick it up. I'm glad I did and here we have, a simple web app built with the stack. My source codes are hosted <a href="https://gitlab.com/pugkutteh/vuejs-graphql-playground" target="_blank">here</a> if you are interested. This is my first attempt so feel free to <a href="mailto:pugkutteh@gmail.com">leave a feedback</a> and help me to improve for the better 🎉</p>
                <p>I am also keen in hybrid mobile app development! Recently I learned about cryptocurrencies and it motivated me to learn Flutter as I wanted an app to monitor the price arbitrage across exchanges.</p>
                <p>You may find some of the projects that I've done down below:</p>
            </div>
        </div>
    </v-card>
</template>