<template>
    <v-card 
        elevation="1"
        class="project-card"
    >
        <router-link
            class="text-decoration-none"
            :to="{ name: 'project.details', params: { slug: project.slug } }"
        >
            <project-media :project="project"></project-media>
            <v-card-title>{{ project.title }}</v-card-title>
            <v-card-text>
                <v-chip
                    class="mr-1"
                    small
                    v-for="(tag, idx) in project.tags"
                    :key="idx"
                >
                    {{ tag.title }}
                </v-chip>
            </v-card-text>
        </router-link>
    </v-card>
</template>

<script>
import ProjectMedia from './ProjectMedia.vue';

export default {
    components: {
        ProjectMedia,
    },
    props: {
        project: Object,
    },
}
</script>

<style scoped>
.project-card {
    flex-basis: 100%;
    cursor: pointer;
}

.project-card:hover .project-thumbnail {
    filter: brightness(90%);
}
</style>