<template>
    <div
        class="project-media d-flex align-center"
        :style="{ background: `${project.backgroundColor ? project.backgroundColor : ''}` }"
    >
        <v-img
            class="project-thumbnail"
            v-if="project.mediaType === 'image'"
            :alt="project.title"
            :src="'/images/projects/' + project.mediaFilename"
        ></v-img>

        <video
            class="project-video"
            loop
            autoplay
            v-if="project.mediaType === 'video'"
        >
            <source
                type="video/webm"
                :src="'/images/projects/' + project.mediaFilename"
            >
            Your browser does not support the video tag.
        </video>
    </div>
</template>

<script>
export default {
    props: {
        project: Object,
    },
}
</script>

<style scoped>
.project-media {
    height: 200px;
    background: rgb(42,43,86);
    background: linear-gradient(322deg, rgba(42,43,86,1) 0%, rgba(135,108,223,1) 100%);
}

.project-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-thumbnail {
    transition: filter 0.3s;
}
</style>