<template>
    <v-container class="error-container d-flex flex-column align-center">
        <div class="mt-n10 ml-auto mr-auto">
            <lottie-animation
                path="images/404-error.json"
            ></lottie-animation>
        </div>

        <v-btn
            class="home-btn"
            color="accent"
            to="/"
            v-bind="size"
        >
            Back to Home
            <v-icon right>mdi-arrow-right</v-icon>
        </v-btn>
    </v-container>
</template>

<script>
import LottieAnimation from "lottie-vuejs/src/LottieAnimation.vue";

export default {
    components: {
        LottieAnimation,
    },
    computed: {
        size: function() {
            const size = { xs:'small' }[this.$vuetify.breakpoint.name];
            return size ? { [size]: true } : {};
        },
    },
}
</script>

<style scoped>
.error-container {
    max-width: 500px;
}

.home-btn {
    position: absolute;
    bottom: 20%;
}
</style>