// Copied from enjinx.io
.container {
    width: 100%;
    padding: 12px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 960px) {
    .container {
        max-width: 900px;
    }
}
@media (min-width: 1264px) {
    .container {
        max-width: 1185px;
    }
}
@media (min-width: 1904px) {
    .container {
        max-width: 1185px;
    }
}

.v-application {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
  }
  .v-application a {
    color: var(--v-anchor-base);
  }
  .v-application .primary {
    background-color: var(--v-primary-base) !important;
    border-color: var(--v-primary-base) !important;
  }
  .v-application .primary--text {
    color: var(--v-primary-base) !important;
    caret-color: var(--v-primary-base) !important;
  }
  .v-application .primary.lighten-5 {
    background-color: var(--v-primary-lighten5) !important;
    border-color: var(--v-primary-lighten5) !important;
  }
  .v-application .primary--text.text--lighten-5 {
    color: var(--v-primary-lighten5) !important;
    caret-color: var(--v-primary-lighten5) !important;
  }
  .v-application .primary.lighten-4 {
    background-color: var(--v-primary-lighten4) !important;
    border-color: var(--v-primary-lighten4) !important;
  }
  .v-application .primary--text.text--lighten-4 {
    color: var(--v-primary-lighten4) !important;
    caret-color: var(--v-primary-lighten4) !important;
  }
  .v-application .primary.lighten-3 {
    background-color: var(--v-primary-lighten3) !important;
    border-color: var(--v-primary-lighten3) !important;
  }
  .v-application .primary--text.text--lighten-3 {
    color: var(--v-primary-lighten3) !important;
    caret-color: var(--v-primary-lighten3) !important;
  }
  .v-application .primary.lighten-2 {
    background-color: var(--v-primary-lighten2) !important;
    border-color: var(--v-primary-lighten2) !important;
  }
  .v-application .primary--text.text--lighten-2 {
    color: var(--v-primary-lighten2) !important;
    caret-color: var(--v-primary-lighten2) !important;
  }
  .v-application .primary.lighten-1 {
    background-color: var(--v-primary-lighten1) !important;
    border-color: var(--v-primary-lighten1) !important;
  }
  .v-application .primary--text.text--lighten-1 {
    color: var(--v-primary-lighten1) !important;
    caret-color: var(--v-primary-lighten1) !important;
  }
  .v-application .primary.darken-1 {
    background-color: var(--v-primary-darken1) !important;
    border-color: var(--v-primary-darken1) !important;
  }
  .v-application .primary--text.text--darken-1 {
    color: var(--v-primary-darken1) !important;
    caret-color: var(--v-primary-darken1) !important;
  }
  .v-application .primary.darken-2 {
    background-color: var(--v-primary-darken2) !important;
    border-color: var(--v-primary-darken2) !important;
  }
  .v-application .primary--text.text--darken-2 {
    color: var(--v-primary-darken2) !important;
    caret-color: var(--v-primary-darken2) !important;
  }
  .v-application .primary.darken-3 {
    background-color: var(--v-primary-darken3) !important;
    border-color: var(--v-primary-darken3) !important;
  }
  .v-application .primary--text.text--darken-3 {
    color: var(--v-primary-darken3) !important;
    caret-color: var(--v-primary-darken3) !important;
  }
  .v-application .primary.darken-4 {
    background-color: var(--v-primary-darken4) !important;
    border-color: var(--v-primary-darken4) !important;
  }
  .v-application .primary--text.text--darken-4 {
    color: var(--v-primary-darken4) !important;
    caret-color: var(--v-primary-darken4) !important;
  }
  .v-application .secondary {
    background-color: var(--v-secondary-base) !important;
    border-color: var(--v-secondary-base) !important;
  }
  .v-application .secondary--text {
    color: var(--v-secondary-base) !important;
    caret-color: var(--v-secondary-base) !important;
  }
  .v-application .secondary.lighten-5 {
    background-color: var(--v-secondary-lighten5) !important;
    border-color: var(--v-secondary-lighten5) !important;
  }
  .v-application .secondary--text.text--lighten-5 {
    color: var(--v-secondary-lighten5) !important;
    caret-color: var(--v-secondary-lighten5) !important;
  }
  .v-application .secondary.lighten-4 {
    background-color: var(--v-secondary-lighten4) !important;
    border-color: var(--v-secondary-lighten4) !important;
  }
  .v-application .secondary--text.text--lighten-4 {
    color: var(--v-secondary-lighten4) !important;
    caret-color: var(--v-secondary-lighten4) !important;
  }
  .v-application .secondary.lighten-3 {
    background-color: var(--v-secondary-lighten3) !important;
    border-color: var(--v-secondary-lighten3) !important;
  }
  .v-application .secondary--text.text--lighten-3 {
    color: var(--v-secondary-lighten3) !important;
    caret-color: var(--v-secondary-lighten3) !important;
  }
  .v-application .secondary.lighten-2 {
    background-color: var(--v-secondary-lighten2) !important;
    border-color: var(--v-secondary-lighten2) !important;
  }
  .v-application .secondary--text.text--lighten-2 {
    color: var(--v-secondary-lighten2) !important;
    caret-color: var(--v-secondary-lighten2) !important;
  }
  .v-application .secondary.lighten-1 {
    background-color: var(--v-secondary-lighten1) !important;
    border-color: var(--v-secondary-lighten1) !important;
  }
  .v-application .secondary--text.text--lighten-1 {
    color: var(--v-secondary-lighten1) !important;
    caret-color: var(--v-secondary-lighten1) !important;
  }
  .v-application .secondary.darken-1 {
    background-color: var(--v-secondary-darken1) !important;
    border-color: var(--v-secondary-darken1) !important;
  }
  .v-application .secondary--text.text--darken-1 {
    color: var(--v-secondary-darken1) !important;
    caret-color: var(--v-secondary-darken1) !important;
  }
  .v-application .secondary.darken-2 {
    background-color: var(--v-secondary-darken2) !important;
    border-color: var(--v-secondary-darken2) !important;
  }
  .v-application .secondary--text.text--darken-2 {
    color: var(--v-secondary-darken2) !important;
    caret-color: var(--v-secondary-darken2) !important;
  }
  .v-application .secondary.darken-3 {
    background-color: var(--v-secondary-darken3) !important;
    border-color: var(--v-secondary-darken3) !important;
  }
  .v-application .secondary--text.text--darken-3 {
    color: var(--v-secondary-darken3) !important;
    caret-color: var(--v-secondary-darken3) !important;
  }
  .v-application .secondary.darken-4 {
    background-color: var(--v-secondary-darken4) !important;
    border-color: var(--v-secondary-darken4) !important;
  }
  .v-application .secondary--text.text--darken-4 {
    color: var(--v-secondary-darken4) !important;
    caret-color: var(--v-secondary-darken4) !important;
  }
  .v-application .accent {
    background-color: var(--v-accent-base) !important;
    border-color: var(--v-accent-base) !important;
  }
  .v-application .accent--text {
    color: var(--v-accent-base) !important;
    caret-color: var(--v-accent-base) !important;
  }
  .v-application .accent.lighten-5 {
    background-color: var(--v-accent-lighten5) !important;
    border-color: var(--v-accent-lighten5) !important;
  }
  .v-application .accent--text.text--lighten-5 {
    color: var(--v-accent-lighten5) !important;
    caret-color: var(--v-accent-lighten5) !important;
  }
  .v-application .accent.lighten-4 {
    background-color: var(--v-accent-lighten4) !important;
    border-color: var(--v-accent-lighten4) !important;
  }
  .v-application .accent--text.text--lighten-4 {
    color: var(--v-accent-lighten4) !important;
    caret-color: var(--v-accent-lighten4) !important;
  }
  .v-application .accent.lighten-3 {
    background-color: var(--v-accent-lighten3) !important;
    border-color: var(--v-accent-lighten3) !important;
  }
  .v-application .accent--text.text--lighten-3 {
    color: var(--v-accent-lighten3) !important;
    caret-color: var(--v-accent-lighten3) !important;
  }
  .v-application .accent.lighten-2 {
    background-color: var(--v-accent-lighten2) !important;
    border-color: var(--v-accent-lighten2) !important;
  }
  .v-application .accent--text.text--lighten-2 {
    color: var(--v-accent-lighten2) !important;
    caret-color: var(--v-accent-lighten2) !important;
  }
  .v-application .accent.lighten-1 {
    background-color: var(--v-accent-lighten1) !important;
    border-color: var(--v-accent-lighten1) !important;
  }
  .v-application .accent--text.text--lighten-1 {
    color: var(--v-accent-lighten1) !important;
    caret-color: var(--v-accent-lighten1) !important;
  }
  .v-application .accent.darken-1 {
    background-color: var(--v-accent-darken1) !important;
    border-color: var(--v-accent-darken1) !important;
  }
  .v-application .accent--text.text--darken-1 {
    color: var(--v-accent-darken1) !important;
    caret-color: var(--v-accent-darken1) !important;
  }
  .v-application .accent.darken-2 {
    background-color: var(--v-accent-darken2) !important;
    border-color: var(--v-accent-darken2) !important;
  }
  .v-application .accent--text.text--darken-2 {
    color: var(--v-accent-darken2) !important;
    caret-color: var(--v-accent-darken2) !important;
  }
  .v-application .accent.darken-3 {
    background-color: var(--v-accent-darken3) !important;
    border-color: var(--v-accent-darken3) !important;
  }
  .v-application .accent--text.text--darken-3 {
    color: var(--v-accent-darken3) !important;
    caret-color: var(--v-accent-darken3) !important;
  }
  .v-application .accent.darken-4 {
    background-color: var(--v-accent-darken4) !important;
    border-color: var(--v-accent-darken4) !important;
  }
  .v-application .accent--text.text--darken-4 {
    color: var(--v-accent-darken4) !important;
    caret-color: var(--v-accent-darken4) !important;
  }
  .v-application .error {
    background-color: var(--v-error-base) !important;
    border-color: var(--v-error-base) !important;
  }
  .v-application .error--text {
    color: var(--v-error-base) !important;
    caret-color: var(--v-error-base) !important;
  }
  .v-application .error.lighten-5 {
    background-color: var(--v-error-lighten5) !important;
    border-color: var(--v-error-lighten5) !important;
  }
  .v-application .error--text.text--lighten-5 {
    color: var(--v-error-lighten5) !important;
    caret-color: var(--v-error-lighten5) !important;
  }
  .v-application .error.lighten-4 {
    background-color: var(--v-error-lighten4) !important;
    border-color: var(--v-error-lighten4) !important;
  }
  .v-application .error--text.text--lighten-4 {
    color: var(--v-error-lighten4) !important;
    caret-color: var(--v-error-lighten4) !important;
  }
  .v-application .error.lighten-3 {
    background-color: var(--v-error-lighten3) !important;
    border-color: var(--v-error-lighten3) !important;
  }
  .v-application .error--text.text--lighten-3 {
    color: var(--v-error-lighten3) !important;
    caret-color: var(--v-error-lighten3) !important;
  }
  .v-application .error.lighten-2 {
    background-color: var(--v-error-lighten2) !important;
    border-color: var(--v-error-lighten2) !important;
  }
  .v-application .error--text.text--lighten-2 {
    color: var(--v-error-lighten2) !important;
    caret-color: var(--v-error-lighten2) !important;
  }
  .v-application .error.lighten-1 {
    background-color: var(--v-error-lighten1) !important;
    border-color: var(--v-error-lighten1) !important;
  }
  .v-application .error--text.text--lighten-1 {
    color: var(--v-error-lighten1) !important;
    caret-color: var(--v-error-lighten1) !important;
  }
  .v-application .error.darken-1 {
    background-color: var(--v-error-darken1) !important;
    border-color: var(--v-error-darken1) !important;
  }
  .v-application .error--text.text--darken-1 {
    color: var(--v-error-darken1) !important;
    caret-color: var(--v-error-darken1) !important;
  }
  .v-application .error.darken-2 {
    background-color: var(--v-error-darken2) !important;
    border-color: var(--v-error-darken2) !important;
  }
  .v-application .error--text.text--darken-2 {
    color: var(--v-error-darken2) !important;
    caret-color: var(--v-error-darken2) !important;
  }
  .v-application .error.darken-3 {
    background-color: var(--v-error-darken3) !important;
    border-color: var(--v-error-darken3) !important;
  }
  .v-application .error--text.text--darken-3 {
    color: var(--v-error-darken3) !important;
    caret-color: var(--v-error-darken3) !important;
  }
  .v-application .error.darken-4 {
    background-color: var(--v-error-darken4) !important;
    border-color: var(--v-error-darken4) !important;
  }
  .v-application .error--text.text--darken-4 {
    color: var(--v-error-darken4) !important;
    caret-color: var(--v-error-darken4) !important;
  }
  .v-application .info {
    background-color: var(--v-info-base) !important;
    border-color: var(--v-info-base) !important;
  }
  .v-application .info--text {
    color: var(--v-info-base) !important;
    caret-color: var(--v-info-base) !important;
  }
  .v-application .info.lighten-5 {
    background-color: var(--v-info-lighten5) !important;
    border-color: var(--v-info-lighten5) !important;
  }
  .v-application .info--text.text--lighten-5 {
    color: var(--v-info-lighten5) !important;
    caret-color: var(--v-info-lighten5) !important;
  }
  .v-application .info.lighten-4 {
    background-color: var(--v-info-lighten4) !important;
    border-color: var(--v-info-lighten4) !important;
  }
  .v-application .info--text.text--lighten-4 {
    color: var(--v-info-lighten4) !important;
    caret-color: var(--v-info-lighten4) !important;
  }
  .v-application .info.lighten-3 {
    background-color: var(--v-info-lighten3) !important;
    border-color: var(--v-info-lighten3) !important;
  }
  .v-application .info--text.text--lighten-3 {
    color: var(--v-info-lighten3) !important;
    caret-color: var(--v-info-lighten3) !important;
  }
  .v-application .info.lighten-2 {
    background-color: var(--v-info-lighten2) !important;
    border-color: var(--v-info-lighten2) !important;
  }
  .v-application .info--text.text--lighten-2 {
    color: var(--v-info-lighten2) !important;
    caret-color: var(--v-info-lighten2) !important;
  }
  .v-application .info.lighten-1 {
    background-color: var(--v-info-lighten1) !important;
    border-color: var(--v-info-lighten1) !important;
  }
  .v-application .info--text.text--lighten-1 {
    color: var(--v-info-lighten1) !important;
    caret-color: var(--v-info-lighten1) !important;
  }
  .v-application .info.darken-1 {
    background-color: var(--v-info-darken1) !important;
    border-color: var(--v-info-darken1) !important;
  }
  .v-application .info--text.text--darken-1 {
    color: var(--v-info-darken1) !important;
    caret-color: var(--v-info-darken1) !important;
  }
  .v-application .info.darken-2 {
    background-color: var(--v-info-darken2) !important;
    border-color: var(--v-info-darken2) !important;
  }
  .v-application .info--text.text--darken-2 {
    color: var(--v-info-darken2) !important;
    caret-color: var(--v-info-darken2) !important;
  }
  .v-application .info.darken-3 {
    background-color: var(--v-info-darken3) !important;
    border-color: var(--v-info-darken3) !important;
  }
  .v-application .info--text.text--darken-3 {
    color: var(--v-info-darken3) !important;
    caret-color: var(--v-info-darken3) !important;
  }
  .v-application .info.darken-4 {
    background-color: var(--v-info-darken4) !important;
    border-color: var(--v-info-darken4) !important;
  }
  .v-application .info--text.text--darken-4 {
    color: var(--v-info-darken4) !important;
    caret-color: var(--v-info-darken4) !important;
  }
  .v-application .success {
    background-color: var(--v-success-base) !important;
    border-color: var(--v-success-base) !important;
  }
  .v-application .success--text {
    color: var(--v-success-base) !important;
    caret-color: var(--v-success-base) !important;
  }
  .v-application .success.lighten-5 {
    background-color: var(--v-success-lighten5) !important;
    border-color: var(--v-success-lighten5) !important;
  }
  .v-application .success--text.text--lighten-5 {
    color: var(--v-success-lighten5) !important;
    caret-color: var(--v-success-lighten5) !important;
  }
  .v-application .success.lighten-4 {
    background-color: var(--v-success-lighten4) !important;
    border-color: var(--v-success-lighten4) !important;
  }
  .v-application .success--text.text--lighten-4 {
    color: var(--v-success-lighten4) !important;
    caret-color: var(--v-success-lighten4) !important;
  }
  .v-application .success.lighten-3 {
    background-color: var(--v-success-lighten3) !important;
    border-color: var(--v-success-lighten3) !important;
  }
  .v-application .success--text.text--lighten-3 {
    color: var(--v-success-lighten3) !important;
    caret-color: var(--v-success-lighten3) !important;
  }
  .v-application .success.lighten-2 {
    background-color: var(--v-success-lighten2) !important;
    border-color: var(--v-success-lighten2) !important;
  }
  .v-application .success--text.text--lighten-2 {
    color: var(--v-success-lighten2) !important;
    caret-color: var(--v-success-lighten2) !important;
  }
  .v-application .success.lighten-1 {
    background-color: var(--v-success-lighten1) !important;
    border-color: var(--v-success-lighten1) !important;
  }
  .v-application .success--text.text--lighten-1 {
    color: var(--v-success-lighten1) !important;
    caret-color: var(--v-success-lighten1) !important;
  }
  .v-application .success.darken-1 {
    background-color: var(--v-success-darken1) !important;
    border-color: var(--v-success-darken1) !important;
  }
  .v-application .success--text.text--darken-1 {
    color: var(--v-success-darken1) !important;
    caret-color: var(--v-success-darken1) !important;
  }
  .v-application .success.darken-2 {
    background-color: var(--v-success-darken2) !important;
    border-color: var(--v-success-darken2) !important;
  }
  .v-application .success--text.text--darken-2 {
    color: var(--v-success-darken2) !important;
    caret-color: var(--v-success-darken2) !important;
  }
  .v-application .success.darken-3 {
    background-color: var(--v-success-darken3) !important;
    border-color: var(--v-success-darken3) !important;
  }
  .v-application .success--text.text--darken-3 {
    color: var(--v-success-darken3) !important;
    caret-color: var(--v-success-darken3) !important;
  }
  .v-application .success.darken-4 {
    background-color: var(--v-success-darken4) !important;
    border-color: var(--v-success-darken4) !important;
  }
  .v-application .success--text.text--darken-4 {
    color: var(--v-success-darken4) !important;
    caret-color: var(--v-success-darken4) !important;
  }
  .v-application .warning {
    background-color: var(--v-warning-base) !important;
    border-color: var(--v-warning-base) !important;
  }
  .v-application .warning--text {
    color: var(--v-warning-base) !important;
    caret-color: var(--v-warning-base) !important;
  }
  .v-application .warning.lighten-5 {
    background-color: var(--v-warning-lighten5) !important;
    border-color: var(--v-warning-lighten5) !important;
  }
  .v-application .warning--text.text--lighten-5 {
    color: var(--v-warning-lighten5) !important;
    caret-color: var(--v-warning-lighten5) !important;
  }
  .v-application .warning.lighten-4 {
    background-color: var(--v-warning-lighten4) !important;
    border-color: var(--v-warning-lighten4) !important;
  }
  .v-application .warning--text.text--lighten-4 {
    color: var(--v-warning-lighten4) !important;
    caret-color: var(--v-warning-lighten4) !important;
  }
  .v-application .warning.lighten-3 {
    background-color: var(--v-warning-lighten3) !important;
    border-color: var(--v-warning-lighten3) !important;
  }
  .v-application .warning--text.text--lighten-3 {
    color: var(--v-warning-lighten3) !important;
    caret-color: var(--v-warning-lighten3) !important;
  }
  .v-application .warning.lighten-2 {
    background-color: var(--v-warning-lighten2) !important;
    border-color: var(--v-warning-lighten2) !important;
  }
  .v-application .warning--text.text--lighten-2 {
    color: var(--v-warning-lighten2) !important;
    caret-color: var(--v-warning-lighten2) !important;
  }
  .v-application .warning.lighten-1 {
    background-color: var(--v-warning-lighten1) !important;
    border-color: var(--v-warning-lighten1) !important;
  }
  .v-application .warning--text.text--lighten-1 {
    color: var(--v-warning-lighten1) !important;
    caret-color: var(--v-warning-lighten1) !important;
  }
  .v-application .warning.darken-1 {
    background-color: var(--v-warning-darken1) !important;
    border-color: var(--v-warning-darken1) !important;
  }
  .v-application .warning--text.text--darken-1 {
    color: var(--v-warning-darken1) !important;
    caret-color: var(--v-warning-darken1) !important;
  }
  .v-application .warning.darken-2 {
    background-color: var(--v-warning-darken2) !important;
    border-color: var(--v-warning-darken2) !important;
  }
  .v-application .warning--text.text--darken-2 {
    color: var(--v-warning-darken2) !important;
    caret-color: var(--v-warning-darken2) !important;
  }
  .v-application .warning.darken-3 {
    background-color: var(--v-warning-darken3) !important;
    border-color: var(--v-warning-darken3) !important;
  }
  .v-application .warning--text.text--darken-3 {
    color: var(--v-warning-darken3) !important;
    caret-color: var(--v-warning-darken3) !important;
  }
  .v-application .warning.darken-4 {
    background-color: var(--v-warning-darken4) !important;
    border-color: var(--v-warning-darken4) !important;
  }
  .v-application .warning--text.text--darken-4 {
    color: var(--v-warning-darken4) !important;
    caret-color: var(--v-warning-darken4) !important;
  }
  .v-application .text {
    background-color: var(--v-text-base) !important;
    border-color: var(--v-text-base) !important;
  }
  .v-application .text--text {
    color: var(--v-text-base) !important;
    caret-color: var(--v-text-base) !important;
  }
  .v-application .text.lighten-5 {
    background-color: var(--v-text-lighten5) !important;
    border-color: var(--v-text-lighten5) !important;
  }
  .v-application .text--text.text--lighten-5 {
    color: var(--v-text-lighten5) !important;
    caret-color: var(--v-text-lighten5) !important;
  }
  .v-application .text.lighten-4 {
    background-color: var(--v-text-lighten4) !important;
    border-color: var(--v-text-lighten4) !important;
  }
  .v-application .text--text.text--lighten-4 {
    color: var(--v-text-lighten4) !important;
    caret-color: var(--v-text-lighten4) !important;
  }
  .v-application .text.lighten-3 {
    background-color: var(--v-text-lighten3) !important;
    border-color: var(--v-text-lighten3) !important;
  }
  .v-application .text--text.text--lighten-3 {
    color: var(--v-text-lighten3) !important;
    caret-color: var(--v-text-lighten3) !important;
  }
  .v-application .text.lighten-2 {
    background-color: var(--v-text-lighten2) !important;
    border-color: var(--v-text-lighten2) !important;
  }
  .v-application .text--text.text--lighten-2 {
    color: var(--v-text-lighten2) !important;
    caret-color: var(--v-text-lighten2) !important;
  }
  .v-application .text.lighten-1 {
    background-color: var(--v-text-lighten1) !important;
    border-color: var(--v-text-lighten1) !important;
  }
  .v-application .text--text.text--lighten-1 {
    color: var(--v-text-lighten1) !important;
    caret-color: var(--v-text-lighten1) !important;
  }
  .v-application .text.darken-1 {
    background-color: var(--v-text-darken1) !important;
    border-color: var(--v-text-darken1) !important;
  }
  .v-application .text--text.text--darken-1 {
    color: var(--v-text-darken1) !important;
    caret-color: var(--v-text-darken1) !important;
  }
  .v-application .text.darken-2 {
    background-color: var(--v-text-darken2) !important;
    border-color: var(--v-text-darken2) !important;
  }
  .v-application .text--text.text--darken-2 {
    color: var(--v-text-darken2) !important;
    caret-color: var(--v-text-darken2) !important;
  }
  .v-application .text.darken-3 {
    background-color: var(--v-text-darken3) !important;
    border-color: var(--v-text-darken3) !important;
  }
  .v-application .text--text.text--darken-3 {
    color: var(--v-text-darken3) !important;
    caret-color: var(--v-text-darken3) !important;
  }
  .v-application .text.darken-4 {
    background-color: var(--v-text-darken4) !important;
    border-color: var(--v-text-darken4) !important;
  }
  .v-application .text--text.text--darken-4 {
    color: var(--v-text-darken4) !important;
    caret-color: var(--v-text-darken4) !important;
  }
  .v-application .background {
    background-color: var(--v-background-base) !important;
    border-color: var(--v-background-base) !important;
  }
  .v-application .background--text {
    color: var(--v-background-base) !important;
    caret-color: var(--v-background-base) !important;
  }
  .v-application .background.lighten-5 {
    background-color: var(--v-background-lighten5) !important;
    border-color: var(--v-background-lighten5) !important;
  }
  .v-application .background--text.text--lighten-5 {
    color: var(--v-background-lighten5) !important;
    caret-color: var(--v-background-lighten5) !important;
  }
  .v-application .background.lighten-4 {
    background-color: var(--v-background-lighten4) !important;
    border-color: var(--v-background-lighten4) !important;
  }
  .v-application .background--text.text--lighten-4 {
    color: var(--v-background-lighten4) !important;
    caret-color: var(--v-background-lighten4) !important;
  }
  .v-application .background.lighten-3 {
    background-color: var(--v-background-lighten3) !important;
    border-color: var(--v-background-lighten3) !important;
  }
  .v-application .background--text.text--lighten-3 {
    color: var(--v-background-lighten3) !important;
    caret-color: var(--v-background-lighten3) !important;
  }
  .v-application .background.lighten-2 {
    background-color: var(--v-background-lighten2) !important;
    border-color: var(--v-background-lighten2) !important;
  }
  .v-application .background--text.text--lighten-2 {
    color: var(--v-background-lighten2) !important;
    caret-color: var(--v-background-lighten2) !important;
  }
  .v-application .background.lighten-1 {
    background-color: var(--v-background-lighten1) !important;
    border-color: var(--v-background-lighten1) !important;
  }
  .v-application .background--text.text--lighten-1 {
    color: var(--v-background-lighten1) !important;
    caret-color: var(--v-background-lighten1) !important;
  }
  .v-application .background.darken-1 {
    background-color: var(--v-background-darken1) !important;
    border-color: var(--v-background-darken1) !important;
  }
  .v-application .background--text.text--darken-1 {
    color: var(--v-background-darken1) !important;
    caret-color: var(--v-background-darken1) !important;
  }
  .v-application .background.darken-2 {
    background-color: var(--v-background-darken2) !important;
    border-color: var(--v-background-darken2) !important;
  }
  .v-application .background--text.text--darken-2 {
    color: var(--v-background-darken2) !important;
    caret-color: var(--v-background-darken2) !important;
  }
  .v-application .background.darken-3 {
    background-color: var(--v-background-darken3) !important;
    border-color: var(--v-background-darken3) !important;
  }
  .v-application .background--text.text--darken-3 {
    color: var(--v-background-darken3) !important;
    caret-color: var(--v-background-darken3) !important;
  }
  .v-application .background.darken-4 {
    background-color: var(--v-background-darken4) !important;
    border-color: var(--v-background-darken4) !important;
  }
  .v-application .background--text.text--darken-4 {
    color: var(--v-background-darken4) !important;
    caret-color: var(--v-background-darken4) !important;
  }
  .v-application .anchorActive {
    background-color: var(--v-anchorActive-base) !important;
    border-color: var(--v-anchorActive-base) !important;
  }
  .v-application .anchorActive--text {
    color: var(--v-anchorActive-base) !important;
    caret-color: var(--v-anchorActive-base) !important;
  }
  .v-application .anchorActive.lighten-5 {
    background-color: var(--v-anchorActive-lighten5) !important;
    border-color: var(--v-anchorActive-lighten5) !important;
  }
  .v-application .anchorActive--text.text--lighten-5 {
    color: var(--v-anchorActive-lighten5) !important;
    caret-color: var(--v-anchorActive-lighten5) !important;
  }
  .v-application .anchorActive.lighten-4 {
    background-color: var(--v-anchorActive-lighten4) !important;
    border-color: var(--v-anchorActive-lighten4) !important;
  }
  .v-application .anchorActive--text.text--lighten-4 {
    color: var(--v-anchorActive-lighten4) !important;
    caret-color: var(--v-anchorActive-lighten4) !important;
  }
  .v-application .anchorActive.lighten-3 {
    background-color: var(--v-anchorActive-lighten3) !important;
    border-color: var(--v-anchorActive-lighten3) !important;
  }
  .v-application .anchorActive--text.text--lighten-3 {
    color: var(--v-anchorActive-lighten3) !important;
    caret-color: var(--v-anchorActive-lighten3) !important;
  }
  .v-application .anchorActive.lighten-2 {
    background-color: var(--v-anchorActive-lighten2) !important;
    border-color: var(--v-anchorActive-lighten2) !important;
  }
  .v-application .anchorActive--text.text--lighten-2 {
    color: var(--v-anchorActive-lighten2) !important;
    caret-color: var(--v-anchorActive-lighten2) !important;
  }
  .v-application .anchorActive.lighten-1 {
    background-color: var(--v-anchorActive-lighten1) !important;
    border-color: var(--v-anchorActive-lighten1) !important;
  }
  .v-application .anchorActive--text.text--lighten-1 {
    color: var(--v-anchorActive-lighten1) !important;
    caret-color: var(--v-anchorActive-lighten1) !important;
  }
  .v-application .anchorActive.darken-1 {
    background-color: var(--v-anchorActive-darken1) !important;
    border-color: var(--v-anchorActive-darken1) !important;
  }
  .v-application .anchorActive--text.text--darken-1 {
    color: var(--v-anchorActive-darken1) !important;
    caret-color: var(--v-anchorActive-darken1) !important;
  }
  .v-application .anchorActive.darken-2 {
    background-color: var(--v-anchorActive-darken2) !important;
    border-color: var(--v-anchorActive-darken2) !important;
  }
  .v-application .anchorActive--text.text--darken-2 {
    color: var(--v-anchorActive-darken2) !important;
    caret-color: var(--v-anchorActive-darken2) !important;
  }
  .v-application .anchorActive.darken-3 {
    background-color: var(--v-anchorActive-darken3) !important;
    border-color: var(--v-anchorActive-darken3) !important;
  }
  .v-application .anchorActive--text.text--darken-3 {
    color: var(--v-anchorActive-darken3) !important;
    caret-color: var(--v-anchorActive-darken3) !important;
  }
  .v-application .anchorActive.darken-4 {
    background-color: var(--v-anchorActive-darken4) !important;
    border-color: var(--v-anchorActive-darken4) !important;
  }
  .v-application .anchorActive--text.text--darken-4 {
    color: var(--v-anchorActive-darken4) !important;
    caret-color: var(--v-anchorActive-darken4) !important;
  }
  .v-application .card {
    background-color: var(--v-card-base) !important;
    border-color: var(--v-card-base) !important;
  }
  .v-application .card--text {
    color: var(--v-card-base) !important;
    caret-color: var(--v-card-base) !important;
  }
  .v-application .card.lighten-5 {
    background-color: var(--v-card-lighten5) !important;
    border-color: var(--v-card-lighten5) !important;
  }
  .v-application .card--text.text--lighten-5 {
    color: var(--v-card-lighten5) !important;
    caret-color: var(--v-card-lighten5) !important;
  }
  .v-application .card.lighten-4 {
    background-color: var(--v-card-lighten4) !important;
    border-color: var(--v-card-lighten4) !important;
  }
  .v-application .card--text.text--lighten-4 {
    color: var(--v-card-lighten4) !important;
    caret-color: var(--v-card-lighten4) !important;
  }
  .v-application .card.lighten-3 {
    background-color: var(--v-card-lighten3) !important;
    border-color: var(--v-card-lighten3) !important;
  }
  .v-application .card--text.text--lighten-3 {
    color: var(--v-card-lighten3) !important;
    caret-color: var(--v-card-lighten3) !important;
  }
  .v-application .card.lighten-2 {
    background-color: var(--v-card-lighten2) !important;
    border-color: var(--v-card-lighten2) !important;
  }
  .v-application .card--text.text--lighten-2 {
    color: var(--v-card-lighten2) !important;
    caret-color: var(--v-card-lighten2) !important;
  }
  .v-application .card.lighten-1 {
    background-color: var(--v-card-lighten1) !important;
    border-color: var(--v-card-lighten1) !important;
  }
  .v-application .card--text.text--lighten-1 {
    color: var(--v-card-lighten1) !important;
    caret-color: var(--v-card-lighten1) !important;
  }
  .v-application .card.darken-1 {
    background-color: var(--v-card-darken1) !important;
    border-color: var(--v-card-darken1) !important;
  }
  .v-application .card--text.text--darken-1 {
    color: var(--v-card-darken1) !important;
    caret-color: var(--v-card-darken1) !important;
  }
  .v-application .card.darken-2 {
    background-color: var(--v-card-darken2) !important;
    border-color: var(--v-card-darken2) !important;
  }
  .v-application .card--text.text--darken-2 {
    color: var(--v-card-darken2) !important;
    caret-color: var(--v-card-darken2) !important;
  }
  .v-application .card.darken-3 {
    background-color: var(--v-card-darken3) !important;
    border-color: var(--v-card-darken3) !important;
  }
  .v-application .card--text.text--darken-3 {
    color: var(--v-card-darken3) !important;
    caret-color: var(--v-card-darken3) !important;
  }
  .v-application .card.darken-4 {
    background-color: var(--v-card-darken4) !important;
    border-color: var(--v-card-darken4) !important;
  }
  .v-application .card--text.text--darken-4 {
    color: var(--v-card-darken4) !important;
    caret-color: var(--v-card-darken4) !important;
  }
  .v-application .divider {
    background-color: var(--v-divider-base) !important;
    border-color: var(--v-divider-base) !important;
  }
  .v-application .divider--text {
    color: var(--v-divider-base) !important;
    caret-color: var(--v-divider-base) !important;
  }
  .v-application .divider.lighten-5 {
    background-color: var(--v-divider-lighten5) !important;
    border-color: var(--v-divider-lighten5) !important;
  }
  .v-application .divider--text.text--lighten-5 {
    color: var(--v-divider-lighten5) !important;
    caret-color: var(--v-divider-lighten5) !important;
  }
  .v-application .divider.lighten-4 {
    background-color: var(--v-divider-lighten4) !important;
    border-color: var(--v-divider-lighten4) !important;
  }
  .v-application .divider--text.text--lighten-4 {
    color: var(--v-divider-lighten4) !important;
    caret-color: var(--v-divider-lighten4) !important;
  }
  .v-application .divider.lighten-3 {
    background-color: var(--v-divider-lighten3) !important;
    border-color: var(--v-divider-lighten3) !important;
  }
  .v-application .divider--text.text--lighten-3 {
    color: var(--v-divider-lighten3) !important;
    caret-color: var(--v-divider-lighten3) !important;
  }
  .v-application .divider.lighten-2 {
    background-color: var(--v-divider-lighten2) !important;
    border-color: var(--v-divider-lighten2) !important;
  }
  .v-application .divider--text.text--lighten-2 {
    color: var(--v-divider-lighten2) !important;
    caret-color: var(--v-divider-lighten2) !important;
  }
  .v-application .divider.lighten-1 {
    background-color: var(--v-divider-lighten1) !important;
    border-color: var(--v-divider-lighten1) !important;
  }
  .v-application .divider--text.text--lighten-1 {
    color: var(--v-divider-lighten1) !important;
    caret-color: var(--v-divider-lighten1) !important;
  }
  .v-application .divider.darken-1 {
    background-color: var(--v-divider-darken1) !important;
    border-color: var(--v-divider-darken1) !important;
  }
  .v-application .divider--text.text--darken-1 {
    color: var(--v-divider-darken1) !important;
    caret-color: var(--v-divider-darken1) !important;
  }
  .v-application .divider.darken-2 {
    background-color: var(--v-divider-darken2) !important;
    border-color: var(--v-divider-darken2) !important;
  }
  .v-application .divider--text.text--darken-2 {
    color: var(--v-divider-darken2) !important;
    caret-color: var(--v-divider-darken2) !important;
  }
  .v-application .divider.darken-3 {
    background-color: var(--v-divider-darken3) !important;
    border-color: var(--v-divider-darken3) !important;
  }
  .v-application .divider--text.text--darken-3 {
    color: var(--v-divider-darken3) !important;
    caret-color: var(--v-divider-darken3) !important;
  }
  .v-application .divider.darken-4 {
    background-color: var(--v-divider-darken4) !important;
    border-color: var(--v-divider-darken4) !important;
  }
  .v-application .divider--text.text--darken-4 {
    color: var(--v-divider-darken4) !important;
    caret-color: var(--v-divider-darken4) !important;
  }
  .v-application .footer {
    background-color: var(--v-footer-base) !important;
    border-color: var(--v-footer-base) !important;
  }
  .v-application .footer--text {
    color: var(--v-footer-base) !important;
    caret-color: var(--v-footer-base) !important;
  }
  .v-application .footer.lighten-5 {
    background-color: var(--v-footer-lighten5) !important;
    border-color: var(--v-footer-lighten5) !important;
  }
  .v-application .footer--text.text--lighten-5 {
    color: var(--v-footer-lighten5) !important;
    caret-color: var(--v-footer-lighten5) !important;
  }
  .v-application .footer.lighten-4 {
    background-color: var(--v-footer-lighten4) !important;
    border-color: var(--v-footer-lighten4) !important;
  }
  .v-application .footer--text.text--lighten-4 {
    color: var(--v-footer-lighten4) !important;
    caret-color: var(--v-footer-lighten4) !important;
  }
  .v-application .footer.lighten-3 {
    background-color: var(--v-footer-lighten3) !important;
    border-color: var(--v-footer-lighten3) !important;
  }
  .v-application .footer--text.text--lighten-3 {
    color: var(--v-footer-lighten3) !important;
    caret-color: var(--v-footer-lighten3) !important;
  }
  .v-application .footer.lighten-2 {
    background-color: var(--v-footer-lighten2) !important;
    border-color: var(--v-footer-lighten2) !important;
  }
  .v-application .footer--text.text--lighten-2 {
    color: var(--v-footer-lighten2) !important;
    caret-color: var(--v-footer-lighten2) !important;
  }
  .v-application .footer.lighten-1 {
    background-color: var(--v-footer-lighten1) !important;
    border-color: var(--v-footer-lighten1) !important;
  }
  .v-application .footer--text.text--lighten-1 {
    color: var(--v-footer-lighten1) !important;
    caret-color: var(--v-footer-lighten1) !important;
  }
  .v-application .footer.darken-1 {
    background-color: var(--v-footer-darken1) !important;
    border-color: var(--v-footer-darken1) !important;
  }
  .v-application .footer--text.text--darken-1 {
    color: var(--v-footer-darken1) !important;
    caret-color: var(--v-footer-darken1) !important;
  }
  .v-application .footer.darken-2 {
    background-color: var(--v-footer-darken2) !important;
    border-color: var(--v-footer-darken2) !important;
  }
  .v-application .footer--text.text--darken-2 {
    color: var(--v-footer-darken2) !important;
    caret-color: var(--v-footer-darken2) !important;
  }
  .v-application .footer.darken-3 {
    background-color: var(--v-footer-darken3) !important;
    border-color: var(--v-footer-darken3) !important;
  }
  .v-application .footer--text.text--darken-3 {
    color: var(--v-footer-darken3) !important;
    caret-color: var(--v-footer-darken3) !important;
  }
  .v-application .footer.darken-4 {
    background-color: var(--v-footer-darken4) !important;
    border-color: var(--v-footer-darken4) !important;
  }
  .v-application .footer--text.text--darken-4 {
    color: var(--v-footer-darken4) !important;
    caret-color: var(--v-footer-darken4) !important;
  }