// Copied from enjinx.io
:root {
  --v-anchor-base: #7866d5;
  --v-primary-base: #7866d5;
  --v-primary-lighten5: #ffecff;
  --v-primary-lighten4: #ebd0ff;
  --v-primary-lighten3: #ceb4ff;
  --v-primary-lighten2: #b199ff;
  --v-primary-lighten1: #947ff2;
  --v-primary-darken1: #5c4eb9;
  --v-primary-darken2: #3f369d;
  --v-primary-darken3: #1d2083;
  --v-primary-darken4: #000c69;
  --v-secondary-base: #858997;
  --v-secondary-lighten5: #ffffff;
  --v-secondary-lighten4: #f2f7ff;
  --v-secondary-lighten3: #d6dae9;
  --v-secondary-lighten2: #babecd;
  --v-secondary-lighten1: #9fa3b2;
  --v-secondary-darken1: #6c707d;
  --v-secondary-darken2: #535764;
  --v-secondary-darken3: #3c404c;
  --v-secondary-darken4: #262a36;
  --v-accent-base: #2a2b56;
  --v-accent-lighten5: #a9a4da;
  --v-accent-lighten4: #8e8abe;
  --v-accent-lighten3: #7471a3;
  --v-accent-lighten2: #5b5888;
  --v-accent-lighten1: #42416f;
  --v-accent-darken1: #12173e;
  --v-accent-darken2: #000029;
  --v-accent-darken3: #000016;
  --v-accent-darken4: #000000;
  --v-error-base: #f25757;
  --v-error-lighten5: #ffe6da;
  --v-error-lighten4: #ffc9be;
  --v-error-lighten3: #ffaca3;
  --v-error-lighten2: #ff8f89;
  --v-error-lighten1: #ff736f;
  --v-error-darken1: #d23a40;
  --v-error-darken2: #b31629;
  --v-error-darken3: #940015;
  --v-error-darken4: #760000;
  --v-info-base: #2196f3;
  --v-info-lighten5: #d4ffff;
  --v-info-lighten4: #b5ffff;
  --v-info-lighten3: #95e8ff;
  --v-info-lighten2: #75ccff;
  --v-info-lighten1: #51b0ff;
  --v-info-darken1: #007cd6;
  --v-info-darken2: #0064ba;
  --v-info-darken3: #004d9f;
  --v-info-darken4: #003784;
  --v-success-base: #33bfb4;
  --v-success-lighten5: #d2ffff;
  --v-success-lighten4: #b4ffff;
  --v-success-lighten3: #95ffff;
  --v-success-lighten2: #77f8ec;
  --v-success-lighten1: #57dbd0;
  --v-success-darken1: #00a499;
  --v-success-darken2: #00897f;
  --v-success-darken3: #006f66;
  --v-success-darken4: #00564e;
  --v-warning-base: #fb8c00;
  --v-warning-lighten5: #ffff9e;
  --v-warning-lighten4: #fffb82;
  --v-warning-lighten3: #ffdf67;
  --v-warning-lighten2: #ffc24b;
  --v-warning-lighten1: #ffa72d;
  --v-warning-darken1: #db7200;
  --v-warning-darken2: #bb5900;
  --v-warning-darken3: #9d4000;
  --v-warning-darken4: #802700;
  --v-text-base: #434a60;
  --v-text-lighten5: #c3cae5;
  --v-text-lighten4: #a8afc9;
  --v-text-lighten3: #8d94ad;
  --v-text-lighten2: #747b93;
  --v-text-lighten1: #5b6279;
  --v-text-darken1: #2c3348;
  --v-text-darken2: #161e32;
  --v-text-darken3: #00051d;
  --v-text-darken4: #000003;
  --v-background-base: #f4f7fa;
  --v-background-lighten5: #ffffff;
  --v-background-lighten4: #ffffff;
  --v-background-lighten3: #ffffff;
  --v-background-lighten2: #ffffff;
  --v-background-lighten1: #ffffff;
  --v-background-darken1: #d8dbdd;
  --v-background-darken2: #bcbfc2;
  --v-background-darken3: #a1a4a6;
  --v-background-darken4: #87898c;
  --v-anchorActive-base: #9785ff;
  --v-anchorActive-lighten5: #ffffff;
  --v-anchorActive-lighten4: #fff3ff;
  --v-anchorActive-lighten3: #efd6ff;
  --v-anchorActive-lighten2: #d1baff;
  --v-anchorActive-lighten1: #b49fff;
  --v-anchorActive-darken1: #7a6ce2;
  --v-anchorActive-darken2: #5d53c5;
  --v-anchorActive-darken3: #3f3caa;
  --v-anchorActive-darken4: #1b258f;
  --v-card-base: #ffffff;
  --v-card-lighten5: #ffffff;
  --v-card-lighten4: #ffffff;
  --v-card-lighten3: #ffffff;
  --v-card-lighten2: #ffffff;
  --v-card-lighten1: #ffffff;
  --v-card-darken1: #e2e2e2;
  --v-card-darken2: #c6c6c6;
  --v-card-darken3: #ababab;
  --v-card-darken4: #919191;
  --v-divider-base: #eaeaea;
  --v-divider-lighten5: #ffffff;
  --v-divider-lighten4: #ffffff;
  --v-divider-lighten3: #ffffff;
  --v-divider-lighten2: #ffffff;
  --v-divider-lighten1: #ffffff;
  --v-divider-darken1: #cecece;
  --v-divider-darken2: #b2b2b2;
  --v-divider-darken3: #989898;
  --v-divider-darken4: #7e7e7e;
  --v-footer-base: #2b1e56;
  --v-footer-lighten5: #ac95da;
  --v-footer-lighten4: #917bbe;
  --v-footer-lighten3: #7662a3;
  --v-footer-lighten2: #5c4a88;
  --v-footer-lighten1: #44346f;
  --v-footer-darken1: #12093e;
  --v-footer-darken2: #030029;
  --v-footer-darken3: #000017;
  --v-footer-darken4: #000000;
}