@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import "~vuetify/dist/vuetify.min.css";
@import "variables";
@import "enjin";

// scrollbar
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
    width: 7px;
    height: 7px;
    border-radius: 0 !important;
}
::-webkit-scrollbar-thumb {
    min-height: 50px;
    background: var(--v-primary-base);
}
::-webkit-scrollbar-track {
    background: var(--v-background-base);
}
//- scrollbar

// app
.v-application {
    [class*="text-"] {
        font-family: "Mulish", sans-serif !important;
    }
    font-family: "Mulish", sans-serif !important;

    &.theme--light {
        background: var(--v-background-base);
    }

    .v-footer {
        background-color: var(--v-footer-base);
    }

    .v-btn {
        border-radius: 2px;
        text-transform: none;
    }

    .v-data-table-header-mobile {
        display: none;
    }

    .v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
    .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th,
    .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
        font-size: 14px;
    }

    .menu-link {
        font-size: 17px;
        color: var(--v-secondary-base);
        transition: color 0.3s;

        &:hover,
        &.router-link-active {
            color: var(--v-accent-base);
        }

        &.router-link-active {
            font-weight: bold;
        }
    }
}
//- app
