<template>
    <router-link
        class="menu-link mx-2 text-decoration-none"
        :to="{ name: item.routeName }"
    >
        {{ item.label }}
    </router-link>
</template>

<script>
export default {
    props: {
        item: Object,
    },
}
</script>