<template>
    <v-menu
        offset-y
        rounded="0"
        min-width="175"
        nudge-top="-10"
    >
        <template v-slot:activator="{ on, attrs }">
            <v-btn
                small
                :color="buttonColor"
                v-bind="attrs"
                v-on="on"
            >
                {{ buttonLabel }}
                <v-icon
                    dark
                    right
                >mdi-menu-down</v-icon>
            </v-btn>
        </template>
        <v-list>
            <v-list-item
                v-for="item in items"
                :key="item.routeName"
                :to="{ name: item.routeName }"
            >
                <v-list-item-title>{{ item.label }}</v-list-item-title>
            </v-list-item>
        </v-list>
    </v-menu>
</template>

<script>
export default {
    props: {
        items: Array,
        buttonLabel: String,
        buttonColor: String,
    },
}
</script>