<template>
    <div>
        <!-- List menu on larger viewport -->
        <div class="d-none d-md-block ml-n2">
            <menu-link-item
                v-for="item in menuItems"
                :key="item.routeName"
                :item="item"
            ></menu-link-item>
        </div>

        <!-- Dropdown on small viewport -->
        <div class="d-block d-md-none">
            <menu-dropdown
                :items="menuItems"
                button-label="Activity"
                button-color="primary"
            ></menu-dropdown>
        </div>
    </div>
</template>

<script>
import MenuLinkItem from './MenuLinkItem.vue';
import MenuDropdown from './MenuDropdown.vue';

export default {
    components: {
        MenuLinkItem,
        MenuDropdown,
    },
    data: () => ({
        menuItems: [
            { routeName: 'projects', label: 'My Projects' },
            { routeName: 'enjin.users', label: 'Enjin Users (Testnet)' },
        ],
    }),
}
</script>