<template>
    <div class="flex-grow-1 d-flex flex-column">
        <v-app-bar
            app
            elevation="3"
            height="70"
            color="white"
        >
            <v-container>
                <div class="d-flex align-center">
                    <v-toolbar-title class="text-subtitle-1">
                        <router-link
                            class="text-decoration-none font-weight-bold accent--text"
                            to="/"
                        >VueJS + GraphQL Playground</router-link>
                    </v-toolbar-title>

                    <v-spacer></v-spacer>

                    <span class="text-caption secondary--text">V{{ appVersion }}</span>
                </div>
            </v-container>
        </v-app-bar>

        <v-main>
            <v-container>
                <menu-bar class="mt-10 mb-4"></menu-bar>

                <slot></slot>
            </v-container>
        </v-main>
        
        <v-footer class="px-0 py-12 mt-10">
            <v-container>
                <p class="text-h6 secondary--text text--lighten-2 mb-5">The main objective of this project is to learn and build a web app using VueJS + GraphQL.</p>
                <p class="text-h6 secondary--text text--lighten-2 mb-8">I figured Enjinx Marketplace is built with similar tech stack so it was heavily referenced when developing this project.</p>
                <p class="secondary--text text--lighten-2 mb-0">&copy; Yohoho! {{ new Date().getFullYear() }} </p>
            </v-container>
        </v-footer>
    </div>
</template>

<script>
import packageInfo from '../../../package';
import MenuBar from '../components/MenuBar.vue';

export default {
    components: {
        MenuBar,
    },
    data: () => ({
        appVersion: packageInfo.version,
    }),
}
</script>