<template>
    <v-dialog
      width="550"
      persistent
      v-model="showDialog"
    >
        <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="accent"
                v-bind="attrs"
                v-on="on"
            >
                <v-icon left>mdi-account-plus</v-icon>
                Add User
            </v-btn>
        </template>

        <!-- form -->
        <validation-observer
            ref="observer"
            v-slot="{ invalid }"
        >
            <form
                autocomplete="off"
                @submit.prevent="createNewUser"
            >
                <!-- card -->
                <v-card>
                    <v-card-title class="text-h5">Add User</v-card-title>

                    <v-divider></v-divider>

                    <v-card-text>
                        <v-alert
                            border="left"
                            :type="alertType"
                            v-show="showAlert"
                        ><div v-html="alertMessage"></div></v-alert>
                        
                        <v-text-field
                            class="pt-2"
                            label="Project"
                            :value="projectName"
                            outlined
                            disabled
                        ></v-text-field>
                        
                        <validation-provider
                            v-slot="{ errors }"
                            name="Name"
                            rules="required|max:30"
                        >
                            <v-text-field
                                v-model.trim="name"
                                :counter="30"
                                :error-messages="errors"
                                label="Name*"
                                outlined
                                required
                            ></v-text-field>
                        </validation-provider>
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-btn
                            color="primary"
                            text
                            @click="showDialog = false"
                        >
                            Close
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="accent"
                            type="submit"
                            :disabled="invalid"
                        >
                            Submit
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </form>
        </validation-observer>
    </v-dialog>
</template>

<script>
import axios from 'axios';
import { required, max } from 'vee-validate/dist/rules';
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate';

setInteractionMode('eager');

extend('required', {
    ...required,
    message: '{_field_} can not be empty',
});

extend('max', {
    ...max,
    message: '{_field_} may not be greater than {length} characters',
});

export default {
    props: {
        projectName: String,
        onAddUser: Function,
    },
    methods: {
        createNewUser,
        clearForm,
    },
    components: {
        ValidationProvider,
        ValidationObserver,
    },
    data: () => ({
        showDialog: false,
        showAlert: false,
        alertType: 'error',
        alertMessage: 'Something went wrong. Please try again.',
        isFormValid: false,
        name: '',
    }),
    watch: {
        showDialog(flag) {
            if (flag && this.$refs.observer) {
                clearForm.call(this);
            }
        }
    },
}

function clearForm() {
    this.showAlert = false;
    this.name = '';
    requestAnimationFrame(() => this.$refs.observer.reset());
}

function createNewUser() {
    axios.post('/users', {
        name: this.name,
    })
    .then(response => {
        this.clearForm();
        this.alertType = 'success';
        this.alertMessage = `<b>${_.get(response, 'data.name', 'User')}</b> is added successfully.`;
        this.showAlert = true;

        this.onAddUser();
    })
    .catch(error => {
        this.alertType = 'error';
        this.alertMessage = _.get(error, 'response.data.error', 'Something went wrong. Please try again.');
        this.showAlert = true;
    });
}
</script>