<template>
    <div>
        <v-alert
            color="primary"
            border="left"
            icon="mdi-information"
            dark
        >
            This is a GraphQL exercise to retrieve and create users for a project in Kovan Testnet.
        </v-alert>

        <add-user-dialog
            :project-name="projectName"
            :on-add-user="getUsers"
        ></add-user-dialog>

        <v-data-table
            class="elevation-1 mt-4"
            hide-default-footer
            :headers="headers"
            :page.sync="page"
            :items="users"
            :items-per-page="itemsPerPage"
            :sort-by="['id']"
            :sort-desc="[true]"
            :loading="isLoading"
            loader-height="0"
            loading-text="Loading..."
            @page-count="pageCount = $event"
        ></v-data-table>

        <div class="text-center mt-10">
            <v-pagination
                v-model="page"
                :length="pageCount"
            ></v-pagination>
        </div>
    </div>
</template>

<script>
import _ from 'lodash';
import axios from 'axios';
import { format } from 'date-fns';
import AddUserDialog from './AddUserDialog.vue';

export default {
    components: {
        AddUserDialog,
    },
    methods: {
        getUsers,
    },
    mounted: function() {
        this.getUsers();
    },
    data: () => ({
        page: 1,
        pageCount: 0,
        itemsPerPage: 10,
        isLoading: true,
        headers: [
            { text: 'ID', value: 'id' },
            { text: 'Name', value: 'name' },
            { text: 'Project', value: 'project', sortable: false },
            { text: 'Created At', value: 'created' },
        ],
        users: [],
        projectName: '',
    }),
};

function getUsers() {
    axios.get('/users')
        .then(response => {
            const users = _.get(response, 'data.users', []);
            this.users = users.map(function(user) {
                return {
                    ...user,
                    created: format(new Date(user.createdTs), 'd MMM yyyy'),
                };
            });

            this.projectName = _.get(response, 'data.projectName', '');
            this.isLoading = false;
        });
}
</script>